@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300;400;500;600&display=swap');

body {
    font-family: 'Mali', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.valentine-image {
    width: 300px; /* Adjust the width as needed */
    border-radius: 10px;
}

h1 {
    color: #e91e63;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #e91e63;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #c2185b;
}

#responseMessage {
    margin-top: 20px;
}
